<mat-drawer-container class="example-container">
	<mat-drawer #drawer mode="side">
		<mat-list>
			<div mat-subheader>Folders</div>
			<mat-list-item>
				<mat-icon matListItemIcon>folder</mat-icon>
				<div matListItemTitle>
					<a routerLink="/overview" routerLinkActive="active" ariaCurrentWhenActive="page">Overview</a>
				</div>
				<div matListItemLine>This is a overview</div>
			</mat-list-item>
			<mat-divider></mat-divider>
			<div mat-subheader>Notes</div>
			<mat-list-item>
				<mat-icon matListItemIcon>folder</mat-icon>
				<div matListItemTitle>
					<a routerLink="/config" routerLinkActive="active" ariaCurrentWhenActive="page">Config</a>
				</div>
				<div matListItemLine>This is a config</div>
			</mat-list-item>
		</mat-list>
	</mat-drawer>
	<mat-drawer-content>
		<button mat-fab [style.position]="'absolute'" (click)="drawer.toggle()">Action</button>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
