<mat-expansion-panel hideToggle [style.border-radius]="'0px'" [style.padding]="'0'">
	<mat-expansion-panel-header [style.background-color]="'#333333'">
		<mat-panel-title [style.color]="'#ffffff'">
			<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="report" [style.color]="'orange'" />
		</mat-panel-title>
		<mat-panel-description [style.color]="'#ffffff'">
			Isala Ziekenhuis Zwolle
		</mat-panel-description>
	</mat-expansion-panel-header>
	<p [style.color]="'#ffffff'">Er is een afwijking in de waarden van het DCEM-systeem.</p>
</mat-expansion-panel>
<mat-expansion-panel hideToggle [style.border-radius]="'0px'">
	<mat-expansion-panel-header [style.background-color]="'#333333'">
		<mat-panel-title [style.color]="'#ffffff'">
			<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="gpp_good" [style.color]="'lime'" />
		</mat-panel-title>
		<mat-panel-description [style.color]="'#ffffff'">
			Windesheim Zwolle
		</mat-panel-description>
	</mat-expansion-panel-header>
	<p [style.color]="'#ffffff'">Er zijn geen afwijkingen bekend.</p>
</mat-expansion-panel>
